@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Considering contributing to the open-source repo or a donation to help continue development.</p>
<div class="github-card" data-github="FrankRodelli/JobHuntTracker" data-width="400" data-height="" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>