@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Job Hunt Tracker</h1>
    <p class="lead">Tool to help stay organized during the job hunt.</p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_LoggedInWelcome")
    }
    else
    {
        @Html.Partial("_LoggedOutWelcome")
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Add the jobs you've applied for, the jobs you want to apply for, or the jobs you are in the process of interviewing for.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Push Notifications</h2>
        <p>Set alerts and get notified when it's time to make calls, send emails, or follow up with potential employers.</p>
    </div>
    <div class="col-md-4">
        <h2>Take Control</h2>
        <p>Stop the guessing games during the job hunt process. Keep yourself organized and informed during an already stressful time</p>
    </div>
</div>